<!DOCTYPE html>
<html>
	<head>
		<title>汽车服务</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="../css/ionic.min.css"> 
		<link rel="stylesheet" href="../css/ionicons.min.css">
		<link rel="stylesheet" href="../css/autoService.css" />
	</head>
	<body>
		<div ng-app="autoService" ng-controller="autoService">
			<ion-content class="container">
				<ul class="clearfix margin-top">
					<li class="clearfix item-container" ng-repeat="x in lists" ng-click="skip(x.href)">
						<div class="item-img"><img ng-src="{{x.src}}"/></div>
						<div class="item-name">{{x.name}}</div>
					</li>
				</ul>
			</ion-content>
		</div>
	</body>
	<script type="text/javascript" src="../js/ionic.bundle.min.js"></script>
	<script>
		var autoService = angular.module('autoService',['ionic']);
		autoService.controller('autoService', ['$scope', function($scope){
			$scope.lists = [
				{name:'加油',src:'../img/poi_gas_station.png',href:'http://m.dianping.com/shoplist/5/search'},
				{name:'洗车',src:'../img/poi_auto_xiche.png',href:''},
				{name:'保养',src:'../img/tools_maintenance.png',href:'http://m.dianping.com/shoplist/5/d/1/c/65/s/'},
				{name:'维修',src:'../img/poi_repair_service.png',href:'http://m.dianping.com/shoplist/5/d/1/c/65/s/'},
				{name:'停车',src:'../img/poi_parking_lot.png',href:''},
				{name:'代驾',src:'../img/poi_auto_daijia.png',href:'http://h.aidaijia.com'},
				{name:'车险',src:'../img/poi_buy_insurance.png',href:'http://car.qunabao.com'},
				{name:'汽车租赁',src:'../img/poi_car_rental.png',href:''},
			];
			$scope.skip = function(e){
				location.href = e;
			};
		}]);
	</script>
</html>