<ion-view title="绑定手机">
	<ion-content class="container" style="overflow-y:hidden" has-bouncing="true">
		<input type="text" ng-show="false" ng-model="message" />
		<div class="message" ng-bind="message"></div>
		<input class="width-full margin-position" type="text" ng-model="phone" placeholder="手机号" />
		<div class="width-full margin-position position-relative">
			<input class="width-full margin-position" type="text" ng-model="securitycode" placeholder="验证码" />
			<div class="button button-clear security" ng-hide="sendFlag" ng-click="sendSecurityCode()">验证码</div>
			<div class="security text-color" ng-hide="timeFlag">{{time}}</div>
		</div>
		<div class="button button-calm button-full" ng-click="submit()">确定</div>
	</ion-content>
</ion-view>