<!DOCTYPE html>
<html>
	<head>
		<title>修改密码</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="../css/ionic.min.css"> 
		<link rel="stylesheet" href="../css/ionicons.min.css">
		<link rel="stylesheet" href="../css/changePassword.css" />
		<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="../js/ionic.bundle.min.js"></script>
		<script type="text/javascript" src="../js/angular-resource.min.js"></script>
	</head>
	<body>
		<div ng-app="changePassword" ng-controller="changePassword">
			<ion-content class="container">
				<input type="text" ng-show="false" ng-model="message" />
				<div class="message" ng-bind="message"></div>
				<input class="width-full margin-position" type="password" ng-model="oldPassword" placeholder="原密码" />
				<input class="width-full margin-position" type="password" ng-model="password" placeholder="新密码" />
				<input class="width-full margin-position" type="password" ng-model="passwordAgain" placeholder="确认密码" />
				<div class="button button-calm width-full" ng-click="submit()">确定</div>
			</ion-content>
		</div>
	</body>
	<script>
		var changePassword = angular.module('changePassword',['ionic']);
		changePassword.controller('changePassword',['$scope',function($scope){
			$scope.submit = function(){
				console.log($scope.password);
				$scope.message = '密码是必须的。';
			};
		}]);
	</script>
</html>