<!DOCTYPE html>
<html>
	<head>
		<title>完善信息</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="../css/ionic.min.css"> 
		<link rel="stylesheet" href="../css/ionicons.min.css">
		<link rel="stylesheet" href="../css/perfectInformation.css" />
		<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="../js/ionic.bundle.min.js"></script>
		<script type="text/javascript" src="../js/angular-resource.min.js"></script>
	</head>
	<body>
		<div ng-app="perfectInformation" ng-controller="perfectInformation">
			<ion-content class="container">
				<input class="width-full margin-position" type="text" ng-model="nickname" placeholder="昵称" />
				<div class="plate-container">
					<select id="selectedArea" class="item-input item-select fl" ng-change="selectAreaAction()" ng-model="selectArea" ng-options="value.id as value.label for value in myAreas"></select>
					<select id="selectedLetter" class="item-input item-select fr" ng-change="selectLetterAction()" ng-model="selectLetter" ng-options="value.id as value.label for value in myLetters"></select>
					<input class="plate-input" type="text" ng-model="plateNumber" placeholder="请输入车牌号！" />
				</div>
				<div class="button button-calm width-full" ng-click="submit()">确定</div>
			</ion-content>
		</div>
	</body>
	<script>
		var perfectInformation = angular.module('perfectInformation',['ionic']);
		perfectInformation.controller('perfectInformation',['$scope',function($scope){
			$scope.myAreas = [{
					"id": 1,
            		"label": "Item 1"
				},
				{
					"id": 2,
            		"label": "Item 2"
				},
				{
					"id": 3,
            		"label": "Item 3"
				}
			];
			$scope.selectArea = $scope.myAreas[0].id;
			$scope.selectAreaAction = function(){
				console.log($('#selectedArea').val());
			}
			$scope.myLetters = [{
					"id": 1,
            		"label": "Item 1"
				},
				{
					"id": 2,
            		"label": "Item 2"
				},
				{
					"id": 3,
            		"label": "Item 3"
				}
			];
			$scope.selectLetter = $scope.myLetters[0].id;
			$scope.selectLetterAction = function(){
				console.log($('#selectedLetter').val());
			}
			$scope.submit = function(){
				
			}
		}]);
	</script>
</html>