<ion-view title="绑定车牌">
	<ion-content class="container" style="overflow-y:hidden">
		<div class="hint padding-top padding-bottom1">请填写车牌号</div>
		<div class="plate-container">
			<select class="item-input item-select fl" ng-model="data.selectArea" ng-options="value.id as value.label for value in myAreas"></select>
			<select class="item-input item-select fr" ng-model="data.selectLetter" ng-options="value.id as value.label for value in myLetters"></select>
			<input class="plate-input" type="text" maxlength="5" ng-model="data.plateNumber" placeholder="请输入车牌号！" />
		</div>
		<div class="button button-full button-calm" ng-disabled="!data.valid" ng-click="updateCar()">确定</div>
	</ion-content>
</ion-view>