
<ion-view title="">
	<ion-content style="overflow-y:hidden">
		<div class="list card border-radius">
			<div class="item item-icon-right list-container" ng-repeat="x in lists" ng-click="skip(x)">
				<div ng-if="x.hasIcon"><img class="head" ng-src="{{x.content}}" /></div>
				<div ng-if="x.hasIcon" class="name">{{x.name}}</div>
				<div ng-if="!x.hasIcon" class="noname">{{x.name}}</div>
				<div ng-if="!x.hasIcon" class="content">{{x.content}}</div>
				<i class="icon ion-chevron-right icon-color" ng-if="x.flag"></i>
			</div>
		</div>

		<div class="list card border-radius">
			<div class="item item-icon-right list-container" ng-click="bindcar()">
				<div class="noname">{{carText}}</div>
				<div class="content">{{data.cars[0].carNumber}}</div>
				<i class="icon ion-chevron-right icon-color"></i>
			</div>
			<div class="item item-icon-right list-container" ng-click="bindphone()">
				<div class="noname">{{phoneText}}</div>
				<div class="content">{{telephone}}</div>
				<i class="icon ion-chevron-right icon-color"></i>
			</div>
		</div>

		<div class="list card border-radius">
			<div class="item item-icon-right list-container" ng-repeat="x in lists_1" ng-click="skip(x)">
				<div ng-if="x.hasIcon"><img class="head" ng-src="/weixinh5/img/test.png" /></div>
				<div ng-if="x.hasIcon" class="name">{{x.name}}</div>
				<div ng-if="!x.hasIcon" class="noname">{{x.name}}</div>
				<div ng-if="!x.hasIcon" class="content">{{x.content}}</div>
				<i class="icon ion-chevron-right icon-color" ng-if="x.flag"></i>
			</div>
		</div>

	</ion-content>
</ion-view>