<!DOCTYPE html>
<html>
	<head>
		<title>登录</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="../css/ionic.min.css"> 
		<link rel="stylesheet" href="../css/ionicons.min.css">
		<link rel="stylesheet" href="../css/signIn.css" />
		<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="../js/ionic.bundle.min.js"></script>
		<script type="text/javascript" src="../js/angular-resource.min.js"></script>
	</head>
	<body>
		<div ng-app="signIn" ng-controller="signIn">
			<ion-content class="container">
				<input type="text" ng-show="false" ng-model="message" />
				<div class="message" ng-bind="message"></div>
				<input class="width-full margin-position" type="text" ng-model="phone" placeholder="手机号" />
				<input class="width-full margin-position" type="password" ng-model="password" placeholder="密码" />
				<div class="width-full margin-position position-relative">
					<input class="width-full margin-position" type="text" ng-model="securitycode" placeholder="验证码" />
					<div class="button button-clear security" ng-hide="sendFlag" ng-click="sendSecurityCode()">验证码</div>
					<div class="security text-color" ng-hide="timeFlag">{{time}}</div>
				</div>
				<div class="button button-calm width-full" ng-click="signIn()">注册</div>
			</ion-content>
		</div>
	</body>
	<script>
		var signIn = angular.module('signIn',['ionic']);
		signIn.controller('signIn',['$scope',function($scope){
			$scope.sendFlag = false;
			$scope.timeFlag = true;
			$scope.sendSecurityCode = function(){
				//60s 倒计时 start
				$scope.time = 60;
				$scope.sendFlag = true;
				$scope.timeFlag = false;
				var myTime = setInterval(function() {
                    if(--$scope.time==0){
                    	clearInterval(myTime);
                    	$scope.sendFlag = false;
						$scope.timeFlag = true;
                    }
                    $scope.$digest();
                }, 1000);
                //60s 倒计时  end
			};
			$scope.signIn = function(){
				console.log($scope.phone);
				$scope.message = '手机号是必须的。';
			};
		}]);
	</script>
</html>