<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zaozao.dao.BoardDao">

    <resultMap id="boardResultMap" type="Board">
        <id property="id" column="id" javaType="string" />
        <result property="deleted" column="deleted" javaType="boolean" />
        <result property="managerId" column="managerid" javaType="string" />
        <result property="name" column="name" javaType="string" />
        <result property="description" column="description" javaType="string" />
        <result property="createTime" column="createTime" javaType="java.sql.Timestamp" />
    </resultMap>
            
    <sql id="boardColumn">
        id, deleted, managerid, name, description, createTime
    </sql>
    
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_board;
    </select>
    
    <insert id="insert" parameterType="Board">
        INSERT INTO t_board(
        <include refid="boardColumn" />
        ) VALUES
        (#{id}, #{deleted}, #{managerId}, #{name}, #{description}, #{createTime});
    </insert>

    <update id="delete" parameterType="Board">
        UPDATE t_board SET
        delete = 1
        WHERE id = #{id};
    </update>

    <update id="update" parameterType="Comments">
        UPDATE t_board SET
        name = #{name},
        managerid = #{managerId},
        description = #{description}
        WHERE id = #{id};
    </update>

</mapper>
