<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zaozao.dao.CommentsDao">

    <resultMap id="commentsResultMap" type="Comments">
        <id property="id" column="id" javaType="string" />
        <result property="deleted" column="deleted" javaType="boolean" />
        <result property="createTime" column="createtime" javaType="java.sql.Date" />
        <result property="userId" column="userid" javaType="string" />
        <result property="postId" column="postid" javaType="string" />
        <result property="content" column="content" javaType="string" />
    </resultMap>
            
    <sql id="commentsColumn">
        id, deleted, userid, postid, content, createtime
    </sql>

    <select id="countByPostId" resultType="java.lang.Long" parameterType="String">
        SELECT COUNT(*) FROM t_comments WHERE postid = #{postId};
    </select>
    
    <insert id="insert" parameterType="Comments">
        INSERT INTO t_comments(
        <include refid="commentsColumn" />
        ) VALUES
        (#{id}, #{deleted}, #{userId}, #{postId}, #{content}, #{createTime});
    </insert>

    <update id="delete" parameterType="Comments">
        UPDATE t_comments SET
        delete = 1
        WHERE id = #{id};
    </update>

    <update id="update" parameterType="Comments">
        UPDATE t_comments SET
        content = #{content}
        WHERE userid = #{userId} and postid = #{postId};
    </update>

</mapper>
