<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zaozao.dao.UserDao">

    <resultMap id="userResultMap" type="User">
        <id property="id" column="id" javaType="string" />
        <result property="zzid" column="zzid" javaType="string" />
        <result property="name" column="name" javaType="string" />
        <result property="username" column="username" javaType="string" />
        <result property="password" column="password" javaType="string" />
        <result property="nickName" column="nickname" javaType="string" />
        <result property="gender" column="gender" javaType="string" />
        <result property="telephone" column="telephone" javaType="string" />
        <result property="birthday" column="birthday" javaType="java.sql.Date" />
        <result property="wxNumber" column="wxnumber" javaType="string" />
        <result property="address" column="address" javaType="string" />
        <result property="idNumber" column="idnumber" javaType="string" />
        <result property="registerTime" column="registertime" javaType="java.sql.Timestamp" />
        <result property="deleted" column="deleted" javaType="boolean" />
        <result property="portrait" column="portrait" javaType="String" />
        <result property="qrCode" column="qrcode" javaType="String" />
        <result property="openId" column="openid" javaType="String" />
        <result property="bundling" column="bundling" javaType="boolean" />
        <result property="qrUrl" column="qrurl" javaType="String" />
        <result property="qrTicket" column="qrticket" javaType="String" />
        <result property="subcribe" column="subcribe" javaType="boolean" />

        <result property="wxnickname" column="wxnickname" javaType="String" />
        <result property="sex" column="sex" javaType="String" />
        <result property="language" column="wxlanguage" javaType="String" />
        <result property="city" column="city" javaType="String" />
        <result property="province" column="province" javaType="String" />
        <result property="country" column="country" javaType="String" />
        <result property="headImgUrl" column="headImgUrl" javaType="String" />
        <result property="subscribeTime" column="subscribeTime" javaType="long" />
        <result property="unionId" column="unionId" javaType="String" />
        <result property="remark" column="remark" javaType="String" />
        <result property="groupId" column="groupId" javaType="int" />

        <collection property="cars" ofType="com.zaozao.model.po.Car" column="userid">
            <id column="cid" property="id"/>
            <result column="brand" property="brand"/>
            <result column="model" property="model"/>
            <result column="color" property="color"/>
            <result column="carnumber" property="carNumber"/>
        </collection>
    </resultMap>
            
    <sql id="userColumn">
        id, zzid, name, username, password, nickname, gender, telephone, birthday, wxnumber, address, idnumber, registertime, deleted, portrait,
        openid, bundling, qrurl, qrticket, subcribe,
        wxnickname, sex, wxlanguage, city, province, country, headImgUrl, subscribeTime, unionId, remark, groupId
    </sql>
    
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_user;
    </select>
    
    <insert id="insert" parameterType="User">
        INSERT INTO t_user(
        <include refid="userColumn" />
        ) VALUES
        (#{id}, #{zzid}, #{name}, #{username}, #{password}, #{nickName}, #{gender}, #{telephone}, #{birthday}, #{wxNumber}, #{address}, #{idNumber},
        #{registerTime}, #{deleted}, #{portrait}, #{openId}, #{bundling}, #{qrUrl}, #{qrTicket}, #{subcribe},
        #{wxnickname}, #{sex}, #{language}, #{city}, #{province}, #{country}, #{headImgUrl}, #{subscribeTime},
        #{unionId}, #{remark}, #{groupId});
    </insert>

    <update id="update" parameterType="User">
        UPDATE t_user SET
        password = #{password},
        name = #{name},
        username = #{username},
        nickname = #{nickName},
        gender = #{gender},
        telephone = #{telephone},
        birthday = #{birthday},
        wxnumber = #{wxNumber},
        address = #{address},
        idnumber = #{idNumber},
        registertime = #{registerTime},
        deleted = #{deleted},
        portrait = #{portrait},
        qrcode = #{qrCode},
        openid = #{openId},
        bundling = #{bundling},
        qrurl = #{qrUrl},
        qrticket = #{qrTicket},

        wxnickname = #{wxnickname},
        sex = #{sex},
        wxlanguage = #{language},
        city = #{city},
        province = #{province},
        country = #{country},
        headImgUrl = #{headImgUrl},
        subscribeTime = #{subscribeTime},
        unionId = #{unionId},
        remark = #{remark},
        groupId = #{groupId}
        WHERE id = #{id};
    </update>

    <update id="updateWxInfo" parameterType="User">
        UPDATE t_user SET
        wxnickname = #{wxnickname},
        sex = #{sex},
        language = #{language},
        city = #{city},
        province = #{province},
        country = #{country},
        headimgurl = #{headImgUrl},
        subscribetime = #{subscribeTime},
        unionid = #{unionId},
        remark = #{remark},
        groupid = #{groupId}
        WHERE id = #{id};
    </update>

    <update id="bindTel" parameterType="User">
        UPDATE t_user SET
        telephone = #{telephone},
        bundling = 1
        WHERE id = #{id};
    </update>

    <update id="updateQr" parameterType="User">
        UPDATE t_user SET
        qrcode = #{qrCode},
        qrurl = #{qrUrl},
        qrticket = #{qrTicket}
        WHERE openid = #{openId};
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM t_user WHERE id = #{id}
    </delete>

    <select id="searchById" resultMap="userResultMap" parameterType="String">
        SELECT u.*, c.id cid, c.brand, c.model, c.color, c.carnumber
        from t_user u left join t_car c on u.id=c.userid
        WHERE u.id = #{id};
    </select>

    <select id="searchShortName" resultType="java.lang.String" parameterType="String">
        select CONCAT(shortname, letter) from t_carnumber_dict where city like CONCAT('%',#{city},'%')
    </select>

    <select id="searchByCarNumber" resultMap="userResultMap" parameterType="String">
        SELECT u.*, c.id cid, c.brand, c.model, c.color, c.carnumber
        from t_user u left join t_car c on u.id=c.userid
        WHERE c.carnumber = #{carNumber};
    </select>

    <select id="searchByZzid" resultMap="userResultMap" parameterType="String">
        SELECT u.*, c.id cid, c.brand, c.model, c.color, c.carnumber
        from t_user u left join t_car c on u.id=c.userid
        WHERE u.zzid = #{zzid};
    </select>

    <select id="searchByUsername" resultMap="userResultMap" parameterType="String">
        SELECT <include refid="userColumn" />
        from t_user
        WHERE username = #{username};
    </select>

    <select id="getQRById" resultType="java.lang.String" parameterType="String">
        SELECT qrcode
        from t_user
        WHERE id = #{id}
    </select>

    <select id="checkByWx" resultType="java.lang.Integer" parameterType="String">
        SELECT count(*)
        from t_user u
        WHERE u.openid = #{openId};
    </select>

    <select id="findByWx" resultMap="userResultMap" parameterType="String">
        SELECT u.*, c.id cid, c.brand, c.model, c.color, c.carnumber
        from t_user u left join t_car c on u.id=c.userid
        WHERE u.openid = #{openId};
    </select>

    <select id="checkByTel" resultType="java.lang.Integer" parameterType="String">
        SELECT count(*)
        from t_user u
        WHERE u.telephone = #{telephone};
    </select>

    <select id="findByTel" resultMap="userResultMap" parameterType="String">
        SELECT u.*, c.id cid, c.brand, c.model, c.color, c.carnumber
        from t_user u left join t_car c on u.id=c.userid
        WHERE u.telephone = #{telephone};
    </select>

    <select id="getPage" resultMap="userResultMap">
        SELECT <include refid="userColumn" />
        from t_user u order by registertime desc limit #{start}, #{size}
    </select>

    <update id="unsubcribe" parameterType="String">
        UPDATE t_user SET
        subcribe = 0
        WHERE openid = #{openid};
    </update>

    <update id="subcribe" parameterType="String">
        UPDATE t_user SET
        subcribe = 1
        WHERE openid = #{openid};
    </update>
</mapper>
