<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jobs" class="com.zaozao.quartz.Jobs" />

    <bean id="wxTokenJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="jobs" />
        </property>
        <property name="targetMethod">
            <value>refreshWxToken</value>
        </property>
    </bean>

    <bean id="wxTokenCronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="wxTokenJob"></property>
        <property name="cronExpression" value="0 0 0/1 * * ?"></property>
    </bean>

    <bean id="consumeExpireMsgJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="jobs" />
        </property>
        <property name="targetMethod">
            <value>consumeWxExpireMsg</value>
        </property>
    </bean>

    <bean id="consumeExpireMsgCronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="consumeExpireMsgJob"></property>
        <property name="cronExpression" value="0/10 * * * * ?"></property>
    </bean>


    <bean id="trigger" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="wxTokenCronTriggerBean"/>
                <ref bean="consumeExpireMsgCronTriggerBean"/>
            </list>
        </property>
        <property name="jobFactory">
            <ref bean="jobFactory"/>
        </property>
    </bean>

    <bean id="jobFactory" class="com.zaozao.quartz.AutowiredJobFactory" />
</beans>